In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
Data1=[1,2,3,4,5,7,8,90,0,12]
series1=pd.Series(Data1)

print(series1)

0     1
1     2
2     3
3     4
4     5
5     7
6     8
7    90
8     0
9    12
dtype: int64

In [7]:
import pandas as pd

# Sample data in a list of lists
data = [
    ['Alice', 25, 'Female'],
    ['Bob', 30, 'Male'],
    ['Charlie', 22, 'Female'],
]

# Define column names
columns = ['Name', 'Age', 'Gender']

# Create a DataFrame
df = pd.DataFrame(data, columns=columns)

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional data structure that can store data in tabular form, similar to a spreadsheet or SQL table. It consists of rows and columns, where each column can have a different data type. DataFrames are one of the primary data structures in Pandas and provide powerful tools for data manipulation, analysis, and cleaning.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It is similar to a Python list or a NumPy array but has additional features, like labeled indexing. A Series has a single column of data with an associated index, while a DataFrame can have multiple columns, each with its own label.

In [8]:


# Create a Pandas Series
data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)

print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In this example, we created a Pandas Series with five elements (10, 20, 30, 40, and 50). The index of the Series is automatically generated as integers starting from 0 to 4.

In [11]:
import pandas as pd

# Create a Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney

In this example, we created a Pandas DataFrame with three columns (Name, Age, and City) and five rows of data. Each column is represented by a Pandas Series. For instance, the 'Name' column is a Series with the elements ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], and the 'Age' column is a Series with elements [25, 30, 22, 28, 35]. Each Series has its own index, and together they form a DataFrame.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

In [12]:
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney

In [20]:
df.head(3)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris

In [21]:
df.tail()

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney

In [14]:
df.shape

(5, 3)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [22]:
df.describe()

             Age
count   5.000000
mean   28.000000
std     4.949747
min    22.000000
25%    25.000000
50%    28.000000
75%    30.000000
max    35.000000

In [23]:
avg_age_by_city = df.groupby('City')['Age'].mean()
print(avg_age_by_city)

City
London      30.0
New York    25.0
Paris       22.0
Sydney      35.0
Tokyo       28.0
Name: Age, dtype: float64

In [24]:
sorted_df = df.sort_values(by='Age', ascending=True)
print(sorted_df)

      Name  Age      City
2  Charlie   22     Paris
0    Alice   25  New York
3    David   28     Tokyo
1      Bob   30    London
4      Eve   35    Sydney

These are just a few examples of the many functions available in Pandas for data manipulation. The library provides extensive capabilities for filtering, merging, transforming, and analyzing data in DataFrames, making it a powerful tool for data manipulation and analysis in Python.

In Pandas, the Series and DataFrame are mutable in nature, while the Panel is not.

1. Series: A Pandas Series is a one-dimensional labeled array, and it is mutable, which means you can modify its elements after creation.

Example of modifying a Series:

In [25]:

import pandas as pd

# Create a Series
data = [1, 2, 3, 4, 5]
my_series = pd.Series(data)

# Modify an element in the Series
my_series[2] = 10

print(my_series)

0     1
1     2
2    10
3     4
4     5
dtype: int64


2. DataFrame: A Pandas DataFrame is a two-dimensional data structure with rows and columns, and it is also mutable, allowing you to modify the data, add or remove rows or columns, etc.

Example of modifying a DataFrame:

In [26]:
# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)

# Modify the 'Age' column
df['Age'] = [26, 31, 36]

print(df)

      Name  Age
0    Alice   26
1      Bob   31
2  Charlie   36

3. `Panel`: A Pandas Panel is a three-dimensional data structure, which was used to handle data with three dimensions in earlier versions of Pandas. However, it has been deprecated since version 0.25.0, and you are encouraged to use other data structures like `DataFrame` for most use cases. A Panel was mutable, but as it is deprecated, it is recommended to use other Pandas data structures for data manipulation.

As of Pandas version 1.0.0, the `Panel` has been removed from the library, and you should primarily use `Series` and `DataFrame` for data manipulation and analysis.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
age_series = pd.Series([25, 30, 22, 28, 35])
city_series = pd.Series(['New York', 'London', 'Paris', 'Tokyo', 'Sydney'])

In [28]:
Data_frame=pd.DataFrame({'Name':name_series,'Age': age_series,'city':city_series })

In [29]:
print(Data_frame)

      Name  Age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney